html, body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}

body {
    display:flex;
    flex-direction: column;
}

.leaflet-popup-close-button {
    display:none;
}


.popupimage {
    width:200px;
    height:auto;
}

h1 {
    margin:0;
    padding:20px;
    text-align: center;
    font-family:"Ubuntu", "Helvetica", sans-serif;
    font-weight:100;
    color:grey;
}

#mapid {
    flex:1;
    height:100%;
}